# Core Diffusion & ML Libraries
diffusers
accelerate
transformers
peft
torchmetrics
torch-fidelity
bitsandbytes

# Utilities
wandb
hf_transfer
huggingface_hub
scipy
ftfy

# PyTorch (Standard install - see note in readme.md regarding CUDA)
torch
torchvision